<section>
    <div style=" width: 100%;background-color: #80c0ff;position: relative;">

        <div class="row">
            <div class="col-sm-6" style="margin: 0;padding: 0;">
                <div style="height: 100vh;background-color: #012245;width: 100%;border-radius: 0 0 300px 0;
                display: flex;justify-content: center;align-items: center;">
                    <div>
                        <h2 style="color: #fff;">Explore <br> Your Knowledge <br> And Skill With Us</h2>
                        <p class="mt-2" style="font-size: 14px;font-weight: 400;color: #fff;">Our mission is to help
                            people to find
                            the best
                            online course and learn <br> with anytime,anywhere.lets start with us</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="background-color:#012245 ;margin: 0;padding: 0;">
                <div style="height: 100vh;background-color: #80c0ff;width: 100%;border-radius:300px 0 0 0;
                display: flex;justify-content: center;align-items: center;">
                    <img src="../../assets/banner/007.png" alt="" style="width: 100%;height: 100vh;">
                </div>
            </div>
        </div>





    </div>
    <div style="transform: translateY(-50%);">
        <div class="container">
            <div class="row">
                <div style="display: flex;justify-content: center;background-color: #838c48;display: flex;
            justify-content: center;
            background-color: #3fc1d9;
            padding: 25px;
            border-radius: 20px">
                    <div class="col-sm-3">
                        <div style="display: flex;justify-content: center;align-items: center;">
                            <div
                                style="border: 1px solid #fff;background-color: #fff; height: 55px;width: 55px;border-radius: 50%;display: flex;align-items: center;justify-content: center;">
                                <img src="../../assets/banner/computer (1).png" alt=""
                                    style="height: 30px;width: 30px;">
                            </div>&nbsp;&nbsp;
                            <div>
                                <span style="font-size: 25px;font-weight: 700;color: #fff;">45k+</span><br>
                                <span style="color: #fff;">Online Learner</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div style="display: flex;justify-content: center;align-items: center;">
                            <div
                                style="border: 1px solid #fff;background-color: #fff; height: 55px;width: 55px;border-radius: 50%;display: flex;align-items: center;justify-content: center;">
                                <img src="../../assets/banner/certificate (1).png" alt=""
                                    style="height: 30px;width: 30px;">
                            </div>&nbsp;&nbsp;
                            <div>
                                <span style="font-size: 25px;font-weight: 700;color: #fff;">25k+</span><br>
                                <span style="color: #fff;">Earned Certificate</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div style="display: flex;justify-content: center;align-items: center;">
                            <div
                                style="border: 1px solid #fff;background-color: #fff; height: 55px;width: 55px;border-radius: 50%;display: flex;align-items: center;justify-content: center;">
                                <img src="../../assets/banner/soft-skills.png" alt="" style="height: 30px;width: 30px;">
                            </div>&nbsp;&nbsp;
                            <div>
                                <span style="font-size: 25px;font-weight: 700;color: #fff;">160+</span><br>
                                <span style="color: #fff;">Skilled Instructor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div style="display: flex;justify-content: center;align-items: center;">
                            <div
                                style="border: 1px solid #fff;background-color: #fff; height: 55px;width: 55px;border-radius: 50%;display: flex;align-items: center;justify-content: center;">
                                <img src="../../assets/banner/undergraduate (1).png" alt=""
                                    style="height: 30px;width: 30px;">
                            </div>&nbsp;&nbsp;
                            <div>
                                <span style="font-size: 25px;font-weight: 700;color: #fff;">20k+</span><br>
                                <span style="color: #fff;">Satisfied Learner</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div style="display: flex;justify-content: center;">
        <h1>COURSE PACKAGES</h1>
    </div>
    <br><br>
    <div class="container">
        <div class="row" style="background-color: #838c48;">
            
            <div class="col-sm-3 " style="padding: 30px;"><br><br><br>
                <div style="background-color: #fff;border-radius: 10px;" class="shadow scale1">
                    <div style="border-bottom: 1px solid #c0bebe;text-align: center;padding: 5px;">
                        <h5 >SCIENCE</h5>
                    </div>
                    <div class="mt-3">
                        <ul style="padding: 0;margin: 0;list-style: none;text-align: center;" class="subjct">
                            <li style="font-size: 25px;"><sub style="font-size: 11px;font-weight: 500;">TK</sub>4000<sub style="font-size: 11px;font-weight: 500;">/All Subject</sub></li>
                            <li>General Math</li>
                            <li>Higher Math</li>
                            <li>English</li>
                            <li>Physics</li>
                            <li>Chemistry</li>
                            <li>Biology</li>
                            <li>+ Other Subjects</li>
                        </ul>
                    </div>
                    <br>
                    <div style="border-top: 1px solid #c0bebe;text-align: center;padding: 5px;" >
                        <button class="mt-2 mb-2 enroll"
                        style="border: 1px solid #838c48;background-color: #838c48;color: #fff;width: 50%;font-size: 12px;padding: 6px;border-radius: 0 30px 0 30px;">ENROLL NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 " style="padding: 30px; transform: translateY(-10%);"><br><br><br>
                <div style="background-color: #fff;border-radius: 10px" class="shadow scale2">
                    <div style="border-bottom: 1px solid #c0bebe;text-align: center;padding: 5px;">
                        <h5 >ART</h5>
                    </div>
                    <div class="mt-3">
                        <ul style="padding: 0;margin: 0;list-style: none;text-align: center;" class="subjct">
                            <li style="font-size: 25px;"><sub style="font-size: 11px;font-weight: 500;">TK</sub>4000<sub style="font-size: 11px;font-weight: 500;">/All Subject</sub></li>
                            <li>Geography</li>
                            <li>Psychology</li>
                            <li>History</li>
                            <li>Economics</li>
                            <li>Political Science</li>
                            <li>Philosophy</li>
                            <li>+ Other Subjects</li>
                        </ul>
                    </div>
                    <br>
                    <div style="border-top: 1px solid #c0bebe;text-align: center;padding: 5px;" >
                        <button class="mt-2 mb-2 enroll"
                        style="border: 1px solid #838c48;background-color: #838c48;color: #fff;width: 50%;font-size: 12px;padding: 6px;border-radius: 0 30px 0 30px;">ENROLL NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3  " style="padding: 30px; "><br><br><br>
                <div style="background-color: #fff;border-radius: 10px" class="shadow scale3">
                    <div style="border-bottom: 1px solid #c0bebe;text-align: center;padding: 5px;">
                        <h5 >COMMERCE</h5>
                    </div>
                    <div class="mt-3">
                        <ul style="padding: 0;margin: 0;list-style: none;text-align: center;" class="subjct">
                            <li style="font-size: 25px;"><sub style="font-size: 11px;font-weight: 500;">TK</sub>4000<sub style="font-size: 11px;font-weight: 500;">/All Subject</sub></li>
                            <li>Accountancy</li>
                            <li>Business Studies</li>
                            <li>Economics</li>
                            <li>formatics Practices/ Mathematics</li>
                            <li>English</li>
                            <li>Physical Education</li>
                            <li>+ Other Subjects</li>
                        </ul>
                    </div>
                    <br>
                    <div style="border-top: 1px solid #c0bebe;text-align: center;padding: 5px;" >
                        <button class="mt-2 mb-2 enroll"
                        style="border: 1px solid #838c48;background-color: #838c48;color: #fff;width: 50%;font-size: 12px;padding: 6px;border-radius: 0 30px 0 30px;">ENROLL NOW</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 " style="padding: 30px; transform: translateY(-10%);"><br><br><br>
                <div style="background-color: #fff;border-radius: 10px" class="shadow scale4">
                    <div style="border-bottom: 1px solid #c0bebe;text-align: center;padding: 5px;">
                        <h5 >TECHNICAL</h5>
                    </div>
                    <div class="mt-3">
                        <ul style="padding: 0;margin: 0;list-style: none;text-align: center;" class="subjct">
                            <li style="font-size: 25px;"><sub style="font-size: 11px;font-weight: 500;">TK</sub>4000<sub style="font-size: 11px;font-weight: 500;">/All Subject</sub></li>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C++</li>
                            <li>Javascript</li>
                            <li>Chemistry</li>
                            <li>Machine Learning</li>
                            <li>+ Other Subjects</li>
                        </ul>
                    </div>
                    <br>
                    <div style="border-top: 1px solid #c0bebe;text-align: center;padding: 5px;" >
                        <button class="mt-2 mb-2 enroll"
                        style="border: 1px solid #838c48;background-color: #838c48;color: #fff;width: 50%;font-size: 12px;padding: 6px;border-radius: 0 30px 0 30px;">ENROLL NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br>