<!-- <section>
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="background-color: #179f8b;min-height: 90vh;">
        <div style="text-align: center;color: #fff;">
            <span>RESULTS</span>
            <h3>YOU WON</h3>
        </div>



        <br><br><br><br><br>


        <div class="container">
            <div style="background-color: #3ed4be;position: relative;">
                <br>
                <div style="display: flex;justify-content: center;align-items: center;" class="mt-2">
                    <button class="point" style="color: yellow; border: none;
                    background: #179f8b;
                    color: #fff;
                    padding: 8px;
                    width: 20%;
                    border-radius: 5px;
                    font-size: 20px;
                    font-weight: 600">4</button>&nbsp;&nbsp;
                    <span style="color: #fff;font-size: 30px;">:</span>&nbsp;&nbsp;
                    <button class="point" style=" border: none;
                    background: #179f8b;
                    color: #fff;
                    padding: 8px;
                    width: 20%;
                    border-radius: 5px;
                    font-size: 20px;
                    font-weight: 600">3</button>
                </div>
                <br>
                <div style="position: absolute;top: -14%;left: 33%;">
                    <button class="score"
                    style="  border: none;
                    background: #179f8b;
                    color: #fff;
                    padding: 6px 14px;
                    border-radius: 5px;">FINAL SCORE</button>
                </div>

               
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button style="
                border: none;
width: 50%;
background: #fff;
color: #179f8b;
font-weight: 500;
margin-bottom: 2%;
padding: 6px;border-radius: 4px;">PLAY AGAIN</button>
        </div>
    </div>
    <div class="col-sm-4"></div>
</section> -->

  <div class="fireworks">
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
  </div>
