<app-loader></app-loader>
<section style="overflow-x: hidden;">
    <div>
        <app-header ></app-header>
        <div style="min-height: 100vh;">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>

    <!-- <div id="rotate-icon" style="position: fixed;bottom: 0;">
    <div style="position: relative;left: 35%;bottom: -35%;" class="plus" (click)="openIcon()">
      <span
        style="font-size: 25px;font-weight: 600;color: #fff;transform: rotate(45deg); z-index: 99999;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"
        id="rotate">+</span>
      <ul id="icon">
        <li id="sicon" class="icons"
          style="margin-top: -70px;margin-left: 0;   position: absolute;list-style: none;top: 0;left: 25%;"><i
            class="fa fa-facebook"></i></li>
        <li id="sicon" class="icons"
          style="margin-top: -55px;margin-left: 30px;  position: absolute;list-style: none;top: 0;left: 25%;"><i
            class="bi bi-twitter"></i></li>
        <li id="sicon" class="icons"
          style="margin-top: -25px;margin-left: 49px; position: absolute;list-style: none;top: 0;left: 25%;"><i
            class="bi bi-envelope"></i></li>
        <li id="sicon" class="icons"
          style="margin-top: 11px;margin-left: 60px; position: absolute;list-style: none;top: 0;left: 25%;"><i
            class="bi bi-linkedin"></i></li>
      </ul>
    </div>
  </div> -->
    <div>
    </div>
</section>