<section style="background-color: #e2e2e2;">
    <div style="display: flex;align-items: center;justify-content:center ;">
        <h1>COACHING MANAGEMENT SYSTEM</h1
            >
    </div>
    <div class="container-fluid mt-4" style="display: flex;align-items: center;">
        <div style="display: flex;align-items: center;">
            <p style="color: rgb(207 27 27);font-size: 14px;font-weight: 500;">Running Session: 2023-2024</p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="font-weight: 500;"><i class="fa fa-user"></i> &nbsp;Admin</p>
        </div>
        <div (click)="navigateToteacherlogin()" style="margin-left: auto;cursor: pointer;">
            <span style="font-weight: 500;color: #555;">Log Out &nbsp;<i class="fa fa-sign-out"></i></span>
        </div>
    </div>
    <hr>

    <div>
        <i class="fa fa-arrow-circle-right" style="font-size: 20px;">&nbsp;admin dashboard</i>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-sm-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #f56854;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">Student</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #00a75a;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">Teachers</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #00bcea;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">Parents</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="cursor: pointer;" >
                <div class="scale" style="background-color: #f56854;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">All messages</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>


            <br><br>



            <div class="col-sm-3 mt-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #00a75a;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">Student</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #00bcea;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">Teachers</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #0073b6;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">Parents</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-3" style="cursor: pointer;">
                <div class="scale" style="background-color: #0073b6;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">All messages</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


            <!-- <div class="col-sm-3" style="cursor: pointer;">
                <div  style="background-color: #0073b6;border-radius: 5px;display: flex;">
                    <div style="padding: 5px 10px;">
                        <br>
                        <span style="font-size: 25px;font-weight: 600;color: #fff;">7</span>
                        <p style="color: #fff;font-size: 21px;font-weight: 500;">All messages</p>
                        <p style="color: #fff;">Total students</p>
                        <br>
                    </div>
                    <div  style="display: flex;align-items: end;justify-content: end;margin-left: auto;">
                        <div>
                            <i class="fa fa-users" aria-hidden="true"
                                style="font-size: 65px;color: rgba(0, 0, 0, 0.2);"></i>
                        </div>
                    </div>
                </div>
            </div> -->